.container
  %p.lead= "Edit user"
  %hr
  = form_tag("/hosts/#{params[:id]}", method: "patch") do
    .form-group
      / = hidden_field_tag 'all'
      = label_tag 'name', 'Host Name'
      = text_field_tag 'host[name]',  @host[:name], class: 'form-control'
      = label_tag 'host[templateid]', 'Template'
      = select_tag 'host[templateid]', options_for_select(@templates.collect {|hg| [ hg['name'], hg['templateid'] ] }, @host[:template_id]), class: 'form-control', :disabled => true
      = label_tag 'host[groupid]', 'Hostgroup'
      = select_tag 'host[groupid]', options_for_select(@hostgroups.collect {|hg| [ hg['name'], hg['groupid'] ] }, @host[:hostgroup_id]), class: 'form-control'
      = label_tag 'ip', 'IP Address'
      = text_field_tag 'host[ip]',    @host[:ip], class: 'form-control'
      = label_tag 'dns', 'DNS Name'
      = text_field_tag 'host[dns]',   @host[:dns], class: 'form-control'
      = label_tag 'port', 'Port'
      = text_field_tag 'host[port]',  @host[:port], class: 'form-control'
      %div{:align => "right"}
        = label_tag 'useip', 'Use IP ?'
        = check_box_tag  'host[useip]', '1', true if @host[:useip] == '1'
        = check_box_tag  'host[useip]', '0', false if @host[:useip] == '0'
      %br/
      %hr

    .form-actions
      %div{:align => "right"}
        = link_to 'Go back', :back, class: 'btn btn-primary'
        = submit_tag("Update", class: 'btn btn-success')

