.container
  %h2
    %b Hosts
  %table.table
    %tr
      %th Name
      %th IP
      %th Domain Name
      %th Use IP
    - @hosts_arr.each do |host|
      %tr
        %td= link_to host[:name], host_path(host[:host_obj]) if host[:host_obj]
        %td= host[:ip]
        %td= host[:dns]
        %td= host[:useip]

  %hr
  %div{:align => "right"}
    = link_to 'Add host', new_host_path, class: 'btn btn-success'
