.container
  %p.lead= "Add host"
  %hr
  = form_tag("/hosts", method: "post") do
    .form-group
      / = hidden_field_tag 'all'
      = label_tag 'name', 'Host Name'
      = text_field_tag 'host[name]',  'agent007', class: 'form-control'
      = label_tag 'host[templateid]', 'Template'
      = select_tag 'host[templateid]', options_for_select(@templates.collect {|hg| [ hg['name'], hg['templateid'] ] }, '10118'), class: 'form-control'
      = label_tag 'host[groupid]', 'Hostgroup'
      = select_tag 'host[groupid]', options_for_select(@hostgroups.collect {|hg| [ hg['name'], hg['groupid'] ] }, '2'), class: 'form-control'
      = label_tag 'ip', 'IP Address'
      = text_field_tag 'host[ip]',    '172.17.0.2', class: 'form-control'
      = label_tag 'dns', 'DNS Name'
      = text_field_tag 'host[dns]',   'agent007.local', class: 'form-control'
      = label_tag 'port', 'Port'
      = text_field_tag 'host[port]',  '10050', class: 'form-control'
      %div{:align => "right"}
        = label_tag 'useip', 'Use IP ?'
        = check_box_tag  'host[useip]', '1', true
      %br/
      %hr

    .form-actions
      %div{:align => "right"}
        = link_to 'Go back', :back, class: 'btn btn-primary'
        = submit_tag("Add host", class: 'btn btn-success')

