.container
  %table.table
    %tr
      %th Name
      -#%th Hostgroup
      %th IP
      %th Domain Name
      %th Use IP
      %th Host added at
    %tr
      %td= @host.name
      -#%td= @host.group ? Hostgroup.find(host.group).name : 'No team assigned'
      %td= @host.ip
      %td= @host.dns
      %td= @host.useip?
      %td= @host.created_at


  %div{:align => "right"}
    %hr
    = link_to 'Go back', :back, class: 'btn btn-primary'
    = link_to 'Delete', @host_path, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' # if current_user.admin?
    -#= link_to 'Edit', edit_host_path, class: 'btn btn-success'
