.container
  %table.table
    %tr
      %th Name
      %th ID
      %th Hostgroup Name
      %th Hostgroup ID
      %th Template Name
      %th Template ID
      %th IP
      %th Domain Name
      %th Port
      %th Use IP
    %tr
      %td= @host[:name]
      %td= @host[:id]
      %td= @host[:template_name] ? @host[:template_name] : 'No template assigned'
      %td= @host[:template_id] ? @host[:template_id] : 'No template assigned'
      %td= @host[:hostgroup_name] ? @host[:hostgroup_name] : 'No hostgroup assigned'
      %td= @host[:hostgroup_id] ? @host[:hostgroup_id] : 'No hostgroup assigned'
      %td= @host[:ip]
      %td= @host[:dns]
      %td= @host[:port]
      - if @host[:useip] == "1"
        %td= "Yes"
      - else
        %td= "No"

  %br/
  %p.lead= "Host graphs with debug info:"
  %hr
  - @host_graphs_output.each do |g|
    %p.lead= "#{g['name']} graph:"
    %img(src="/images/graph_#{g['graphid']}.png")
    %br/
    %br/
    %pre.code= g
    %hr

  %div{:align => "right"}
    = link_to 'Go back', :back, class: 'btn btn-primary'
    = link_to 'Delete', @host_path, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' # if current_user.admin?
    -#= link_to 'Edit', edit_host_path, class: 'btn btn-success'

