.container
  %p.lead= "Edit action"
  %hr
  = form_tag("/actions/#{params[:id]}", method: "patch") do
    .form-group
      = label_tag 'name', 'Action Name'
      = text_field_tag 'name',  @action["name"], class: 'form-control'
      = label_tag 'userid', 'User'
      = select_tag 'userid', options_for_select(@users.collect {|hg| [ hg['alias'], hg['userid'] ] }, @action["userid"]), class: 'form-control'
      = label_tag 'hostid', 'Host'
      = select_tag 'hostid', options_for_select(@hosts.collect {|hg| [ hg['name'], hg['hostid'] ] }, @action["hostid"]), class: 'form-control'
      %hr

    .form-actions
      %div{:align => "right"}
        = link_to 'Go back', :back, class: 'btn btn-primary'
        = submit_tag("Update", class: 'btn btn-success')

