.container
  %h2
    %b Edit User
  %hr
  = simple_form_for @user do |f|
    = f.error_notification
    .form-group
      = f.input :email, label_html: { class: 'my_class' }, :disabled => true
      = f.input :first_name, label_html: { class: 'my_class' }
      = f.input :last_name, label_html: { class: 'my_class' }
      = f.input :team_id, :as => :select, collection: @teams, prompt: "Select team"
      %br
      - if current_user.admin?
        %div{:align => "right"}
          %b Admin
          = f.input_field :admin, as: :boolean, boolean_style: :inline
    .form-actions
      = link_to 'Go back', :back, class: 'btn btn-primary'
      = link_to 'Delete', user_path, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' if current_user.admin?
      = f.button :submit, "Update", class: 'btn btn-success'
