.container
  %h2
    %b Internal Users
  %table.table
    %tr
      %th Email
      %th First Name
      %th Last Name
      %th Team
      %th Type
      / %th Demo Admin
      %th Synced with Zabbix
    - @users.each do |user|
      %tr
        %td= link_to user.email, user_path(user)
        %td= user.first_name
        %td= user.last_name
        %td= user.team_id ? Team.find(user.team_id).name : 'No team assigned'
        - @zbx_users_arr.each do |u|
          - @user_type = u["type"] if u["name"] == user.first_name and u["surname"] == user.last_name
        %td= @types.detect {|type| type["id"] == @user_type.to_i}.name if @user_type and !@user_type.empty?
        / %td= user.admin ? 'Yes' : 'No'
        %td= @useremails_arr.include?(user.email) ? 'Yes' : 'No'
  %hr
  %div{:align => "right"}
    = link_to 'Add user', new_user_path, class: 'btn btn-success'
